.calmFont {
  font-family: "Comfortaa", cursive;
}
.playfulFont {
  font-family: "Vina Sans", cursive;
}
.boldFont {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
}
.cowboyFont {
  font-family: "Alfa Slab One", cursive;
}

body {
  cursor: url("/public/images/cursor.png"), auto;
}
